################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/零售门店报表/
/销售周报/
/财务报表/
/装箱单/
/断码齐码库存报表/
/报表项目1/
/Wholesale/
/TEST/
/ProductAnalysis/
/POS门店报表/
/IT/
/InventoryStatusReport/
/ExchangeResaleReport/
